{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "next/core-web-vitals"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ]
  },
  "env": {
    "es6": true
  }
}